*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(124, 200, 250);
}
h1 {
    
    margin: 5rem 0em 1em 41rem;
    text-decoration: underline;
    font-size: 2.5em;
    
}
div {
    background-color: white;
    width: 30rem;
    margin: auto;
    /* margin-top: 12em; */
    padding: 50px;
    border-radius: 5px;
}
button {
    margin: 1rem;
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-size: 1em;
    background-color: rgb(4, 56, 99);
    color: white;
    font-weight: 300;
    border: 1px solid rgb(4, 56, 99);
}
h2 {
    margin: 1rem;
    font-size: 3rem;
    color: rgb(4, 44, 75);
}

@media (max-width: 800px) {
    h1 {
    
        margin: 5rem 0em 1em 6.7em;
        text-decoration: underline;
        
    }
}